{% extends "ZPBAdminMediatekBundle:Layouts:master.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <div class="h2">Images <small>Edition</small></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
            {{ form_errors(form) }}
            <div class="form-group {% if form.name.vars.errors|length>0 %}has-error{% endif %}">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {"label": "Nom","attr":{"class":"form-control"}}) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group {% if form.copyright.vars.errors|length>0 %}has-error{% endif %}">
                {{ form_label(form.copyright) }}
                {{ form_widget(form.copyright, {"label": "Copyright","attr":{"class":"form-control"}}) }}
                {{ form_errors(form.copyright) }}
            </div>
            <div class="form-group {% if form.title.vars.errors|length>0 %}has-error{% endif %}">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {"attr":{"class":"form-control"}}) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="form-group">
                {{ form_label(form.tags) }}
                {{ form_widget(form.tags) }}
                <div class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}"></div>
                {{ form_errors(form.tags) }}
            </div>
            <div class="checkbox">
                {{ form_widget(form.isArticleThumbnail, {"attr":{"style":"margin-left:0;"}}) }}{{ form_label(form.isArticleThumbnail) }}
                {{ form_errors(form.isArticleThumbnail) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.save, {"label": "Mettre à jour", "attr":{"class":"btn btn-primary"}}) }}
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-8">
            <a href="{{ image.webPath }}" target="_blank"><img src="{{ image.webThumbnail }}" title="{{ image.title }} {{ image.copyright|raw }}" class="img-thumbnail"/></a>
        </div>
    </div>

{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script>
        var collectionHolder = $('div.tags');
        var protoHolder = $("#form_tags");
        var $addTagLink = $('<a href="#" class="add_tag_link btn btn-default">Ajouter un mot-clé</a>');
        var $newLinkLi = $('<div class="form-group"></div>').append($addTagLink);
        function addTagForm(collectionHolder, $newLinkLi) {
            var prototype = protoHolder.attr('data-prototype');
            var newForm = prototype.replace(/<label class=\"required\">__name__label__<\/label>/g, "");
            newForm = newForm.replace(/__name__/g, (collectionHolder.children().length + protoHolder.children().length));
            var nf = $(newForm);
            var label = nf.find("label");
            var ipt = nf.find("input");
            var parent = label.parent();
            parent.addClass("form-group");
            ipt.addClass("form-control");
            collectionHolder.append(nf);
        }
        if(protoHolder.children().length){
            protoHolder.children().each(function(idx,el){
                var fLabel = $(el).find("label:first");
                fLabel.remove();
                var sLabel = $(el).find("label");
                var parent = sLabel.parent();
                parent.addClass("form-group");
                var ipt = parent.find("input");
                ipt.addClass("form-control");
            });
        }
        collectionHolder.after($newLinkLi);
        $addTagLink.on('click', function(e) {
            e.preventDefault();
            addTagForm(collectionHolder, $newLinkLi);
        });
    </script>
{% endblock %}
