{% extends "ZPBAdminMediatekBundle:Layouts:master.html.twig" %}

{% set active_ss_menu = "all_img" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <div class="h2">Images <small>Liste</small></div>
            </div>
        </div>
    </div>
    {% if maxPage > 1 %}
        <div class="col-md-12 text-center">
            <ul class="pagination">
                {% if currentPage == 1 %}
                    <li class="disabled"><a href="#">&laquo;</a></li>
                {% else %}
                    <li><a href="{{ path("zpb_admin_mediatek_homepage", {page:1}) }}">&laquo;</a></li>
                {% endif %}
                {% for p in 1..maxPage %}
                    {% if p==currentPage %}
                        <li class="disabled"><a href="#">{{ p }}</a></li>
                    {% else %}
                        <li><a href="{{ path("zpb_admin_mediatek_homepage", {page:p}) }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if currentPage == maxPage %}
                    <li class="disabled"><a href="#">&raquo;</a></li>
                {% else %}
                    <li><a href="{{ path("zpb_admin_mediatek_homepage", {page:maxPage}) }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Vignette</th>
                        <th>Nom du fichier</th>
                        <th>Copyright</th>
                        <th>Contenu de l'attr. title</th>
                        <th>Largeur originale</th>
                        <th>Hauteur originale</th>
                        <th>Editer</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  if images|length < 1 %}
                        <tr class="warning">
                            <td colspan="9">Il n'y a aucune image dans la bibliothèque commune. <a
                                        href="{{ path("zpb_admin_mediatek_new") }}">Upload <i class="fa fa-hand-o-right"></i></a></td>
                        </tr>
                    {% else %}
                        {% for img in images %}
                        <tr>
                            <td>{{ img.id }}</td>
                            <td><a href="{{ img.webPath }}" target="_blank"><img src="{{ img.webThumbnail }}" title="{{ img.title }} {{ img.copyright|raw }}" width="50"/></a></td>
                            <td>{{ img.filename }}</td>
                            <td>{{ img.copyright }}</td>
                            <td>{{ img.title }}</td>
                            <td>{{ img.width }}</td>
                            <td>{{ img.height }}</td>
                            <td><a class="btn btn-default" href="{{ path("zpb_admin_mediatek_edit", {id: img.id, _token: csrf_token("image_edit")}) }}"><i class="fa fa-edit"></i></a></td>
                            <td><a href="{{ path("zpb_admin_mediatek_delete", {id: img.id, _token: csrf_token("image_delete")} )}}" class="btn btn-default delete-alert" data-name="{{ img.name }}"><i class="fa fa-trash-o"></i></a></td>{# TODO #}
                        </tr>
                        {% endfor %}
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script>
        $(function(){
            $(".delete-alert").on("click", function(e){
                e.preventDefault();
                var name = $(this).data("name");
                if(window.confirm("Attention, cette action est irréversible, êtes-vous certain de vouloir continuer et effacer '" + name + "' ?")){
                    window.location.href = $(this).attr("href");
                }
            });
        });
    </script>

{% endblock %}
