<div id="secondary-sidebar">
    <div class="nano">
        <div class="nano-content">
            <div id="secondary-sidebar-content">
                <div class="controls-bar">
                    <button class="fa fa-bars" id="ssToggle"></button>
                </div>
                <div class="sidebar-menu">
                    <h3>Toutes les images</h3>
                    <ul>
                        <li {% if active == "all_img" %}class="active"{% endif %}><a href="{{ path("zpb_admin_mediatek_homepage") }}">Liste <small>({{numImage}})</small></a></li>
                        <li {% if active == "new_img" %}class="active"{% endif %}><a href="{{ path("zpb_admin_mediatek_new") }}">Upload</a></li>
                    </ul>
                </div>
                <div class="sidebar-menu">
                    <h3>Tous les pdf</h3>
                    <ul>
                        <li {% if active == "all_pdf" %}class="active"{% endif %}><a href="{{ path("zpb_admin_mediatek_pdf_homepage") }}">Liste <small>({{numPdf}})</small></a></li>
                        <li {% if active == "new_pdf" %}class="active"{% endif %}><a href="{{ path("zpb_admin_mediatek_pdf_new") }}">Upload</a></li>
                    </ul>
                </div>
                <div class="sidebar-menu">
                    <h3>Mots-clés</h3>
                    <ul>
                        <li {% if active == "all_tags" %}class="active"{% endif %}><a href="{{ path("zpb_admin_mediatek_tag_homepage")}}">Liste <small>({{numTag}})</small></a></li>
                        <li {% if active == "new_tag" %}class="active"{% endif %}><a href="{{ path("zpb_admin_mediatek_tag_new")}}">Nouveau mot-clé</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</div>
