{% extends "ZPBAdminCommonBundle:Layouts:master.html.twig" %}

{% set active_ms_menu = "news" %}

{% block main %}
    <div id="main" class="bg-default">
        {{ render(controller("ZPBAdminBlogBundle:Navs:sidebar", {active: active_ss_menu|default("home")})) }}
        <div id="content">
            <div class="container-fluid">
                <div class="row">
                    {% for flash in app.session.flashbag.get("error") %}
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Attention ! </strong> {{ flash }}
                        </div>
                    {% endfor %}
                    {% for flash in app.session.flashbag.get("warning") %}
                        <div class="alert alert-warning fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Attention ! </strong> {{ flash }}
                        </div>
                    {% endfor %}
                    {% for flash in app.session.flashbag.get("success") %}
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Succès ! </strong> {{ flash }}
                        </div>
                    {% endfor %}
                    {% for flash in app.session.flashbag.get("info") %}
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Info ! </strong> {{ flash }}
                        </div>
                    {% endfor %}
                    {% block content %}{% endblock %}

                </div>
            </div>
        </div>

    </div>
{% endblock %}
