{% extends "ZPBAdminMediatekBundle:Layouts:master.html.twig" %}



{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <div class="h2">Mot-clé <small>Images associées avec {{ tag.name }}</small></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Vignette</th>
                        <th>Nom du fichier</th>
                        <th>Copyright</th>
                        <th>Contenu de l'attr. title</th>
                        <th>Largeur originale</th>
                        <th>Hauteur originale</th>
                        <th>Mots-clés</th>
                        <th>Editer</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  if tag.images|length < 1 %}
                        <tr class="warning">
                            <td colspan="9">Il n'y a aucune image associée avec {{tag.name}} </td>
                        </tr>
                    {% else %}
                        {% for img in tag.images %}
                            <tr>
                                <td>{{ img.id }}</td>
                                <td><a href="{{ img.webPath }}" target="_blank"><img src="{{ img.webThumbnail }}" title="{{ img.title }} {{ img.copyright|raw }}" width="50"/></a></td>
                                <td>{{ img.filename }}</td>
                                <td>{{ img.copyright }}</td>
                                <td>{{ img.title }}</td>
                                <td>{{ img.width }}</td>
                                <td>{{ img.height }}</td>
                                <td>
                                    {% if img.tags|length <1 %} - {% else %}{% for tag in img.tags %}<a href="{{ path("zpb_admin_mediatek_tag_assoc_img", {id: tag.id, _token: csrf_token("tag_assoc_img")})}}">{{ tag.name}}</a> {% if loop.last != true %} - {% endif %}{% endfor %}{% endif %}
                                </td>
                                <td><a class="btn btn-default" href="{{ path("zpb_admin_mediatek_edit", {id: img.id, _token: csrf_token("image_edit")}) }}"><i class="fa fa-edit"></i></a></td>
                                <td><a href="{{ path("zpb_admin_mediatek_delete", {id: img.id, _token: csrf_token("image_delete")} )}}" class="btn btn-default delete-alert" data-name="{{ img.name }}"><i class="fa fa-trash-o"></i></a></td>{# TODO #}
                            </tr>
                        {% endfor %}
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
