{% extends "ZPBAdminCommonBundle:Layouts:common.html.twig" %}
{% set subtitle = "Générale" %}
{% set active_ss_menu = "all_users" %}
{% block sidebar%}{{ render(controller("ZPBAdminCommonBundle:Navs:usersSidebar", {active: active_ss_menu|default("home")})) }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <div class="h2">Utilisateurs <small>Liste</small></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Niveau max</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Pseudo</th>
                        <th>Emails</th>
                        <th>Ajouter email</th>
                        <th>Téléphones</th>
                        <th>Ajouter tél.</th>
                        <th>Bloquer</th>
                        <th>Editer</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if users|length <1 %}
                    <tr class="warning">
                        <td>Il n'y a aucun utikisateurs enregistrés ?!</td>
                    </tr>
                    {% else %}
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.maxRole }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.username }}</td>
                                <td>
                                    {% if user.emails|length > 0%}
                                        <ul class="list-unstyled">
                                            {% for email in user.emails %}
                                            <li>
                                                <a href="mailto:{{ email.name }}" >{{ email.name }}</a>
                                                |
                                                {% if email.isDefault %}<a href="{{ path('zpb_admin_common_user_email_unset_primary',{userid: user.id, emailid: email.id, _token: csrf_token('user_unsetprimary_email')}) }}"><i class="fa fa-star"></i></a>
                                                {% else %}<a href="{{ path('zpb_admin_common_user_email_set_primary',{userid: user.id, emailid: email.id, _token: csrf_token('user_setprimary_email')}) }}"><i class="fa fa-star-o"></i></a>{% endif %}
                                                |
                                                <a href="{{ path("zpb_admin_common_user_email_edit",{id: email.id, _token: csrf_token('email_edit')} ) }}"><i class="fa fa-edit"></i></a>
                                                |
                                                <a href="{{ path("zpb_admin_common_user_email_remove", {userid: user.id, emailid: email.id, _token: csrf_token('user_remove_email')}) }}"><i class="fa fa-trash-o"></i></a>
                                            </li>
                                            {% endfor %}
                                        </ul>

                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path("zpb_admin_common_user_email_add", {userid: user.id, _token: csrf_token("user_add_email")}) }}" class="btn btn-default"><i class="fa fa-plus-square-o"></i></a>
                                </td>
                                <td>
                                    {% if user.phones|length > 0%}
                                        <ul class="list-unstyled">
                                            {% for phone in user.phones %}
                                                <li >{{ phone.number }} ({{ phone.type }})
                                                    |
                                                    {% if phone.isDefault %}<a href="{{ path("zpb_admin_common_user_phone_set_primary", {userid: user.id, phoneid: phone.id, _token: csrf_token("user_set_primary_phone")}) }}"><i class="fa fa-star"></i></a>
                                                    {% else %}<a href="{{ path("zpb_admin_common_user_phone_unset_primary", {userid: user.id, phoneid: phone.id, _token: csrf_token("user_unset_primary_phone")}) }}"><i class="fa fa-star-o"></i></a>{% endif %}
                                                    |
                                                    <a href="{{ path("zpb_admin_common_user_phone_edit", {id: phone.id, _token: csrf_token("user_edit_phone")}) }}"><i class="fa fa-edit"></i></a>
                                                    |
                                                    <a href="{{ path("zpb_admin_common_user_phone_remove", {userid: user.id, phoneid: phone.id, _token: csrf_token("user_remove_phone")}) }}"><i class="fa fa-trash-o"></i></a>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path("zpb_admin_common_user_phone_add", {userid: user.id, _token: csrf_token("user_add_phone")}) }}" class="btn btn-default"><i class="fa fa-plus-square-o"></i></a>
                                </td>
                                <td>
                                    {% if user.isSuperAdmin == false %}
                                        {% if user.isAccountNonLocked == true %}
                                            <a href="{{ path("zpb_admin_common_security_user_lock", {id: user.id, _token: csrf_token("user_lock")}) }}" class="btn btn-default"><i class="fa fa-square-o"></i></a>
                                        {% else %}
                                            <a href="{{ path("zpb_admin_common_security_user_unlock", {id: user.id, _token: csrf_token("user_unlock")}) }}" class="btn btn-default"><i class="fa fa-check-square-o"></i></a>
                                        {% endif %}
                                    {% else %}-{% endif %}
                                </td>
                                <td>
                                    {% if user.isSuperAdmin == false %}
                                        <a class="btn btn-default" href=""><i class="fa fa-edit"></i></a>
                                    {% else %}-{% endif %}
                                </td>
                                <td>
                                    {% if user.isSuperAdmin == false %}
                                        <a class="btn btn-default" href=""><i class="fa fa-trash-o"></i></a>
                                    {% else %}-{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
