{% extends "ZPBAdminCommonBundle:Layouts:master.html.twig" %}
{% block title %}Médiathèque{% endblock %}
{% set active_ms_menu = "media" %}

{% block main %}
    <div id="main" class="bg-default">
        {{ render(controller("ZPBAdminMediatekBundle:Navs:sidebar", {active: active_ss_menu|default("all_img")})) }}
        <div id="content">
            <div class="container-fluid">
                <div class="row">
                    {% for flash in app.session.flashbag.get("error") %}
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Attention ! </strong> {{ flash }}
                        </div>
                    {% endfor %}
                    {% for flash in app.session.flashbag.get("warning") %}
                        <div class="alert alert-warning fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Attention ! </strong> {{ flash }}
                        </div>
                    {% endfor %}
                    {% for flash in app.session.flashbag.get("success") %}
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Succès ! </strong> {{ flash }}
                        </div>
                    {% endfor %}
                    {% for flash in app.session.flashbag.get("info") %}
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Info ! </strong> {{ flash }}
                        </div>
                    {% endfor %}


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h1>Médiathèque</h1>
                        </div>
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>

    </div>
{% endblock %}
