<div id="main-sidebar">
    <div class="nano">
        <div class="nano-content">
            <div id="sidebar-content">
                <div class="controls-bar">
                    <button class="fa fa-bars" id="msToggle"></button>
                    <button class="fa fa-compress" id="msCompress"></button>
                    <button class="fa fa-expand" id="msExpand"></button>
                </div>
                <div class="sidebar-menu bg-default">
                    <h3 {% if active in ["home", "news", "media", "user"] %}class="open"{% endif %}>Générale<i class="fa fa-caret-down pull-right"></i></h3>
                    <ul>
                        <li {% if active == "home" %}class="active"{% endif %}><a href="{{ path("zpb_admin_common_homepage") }}">Accueil</a></li>
                        <li {% if active == "news" %}class="active"{% endif %}><a href="{{ path("zpb_admin_blog_homepage") }}">Actualités</a></li>
                        <li {% if active == "media" %}class="active"{% endif %}><a href="{{ path("zpb_admin_mediatek_homepage") }}">Médiathèque</a></li>
                        <li><a href="#">Delectus, quis.</a></li>
                        <li {% if active == "user" %}class="active"{% endif %}><a href="{{ path("zpb_admin_common_security_user_list") }}">Utilisateurs</a></li>

                    </ul>
                </div>

                <div class="sidebar-menu bg-zoo">
                    <h3 {% if active in ["zoo_foto"] %}class="open"{% endif %}>Le ZooParc dB.<i class="fa fa-caret-down pull-right"></i></h3>
                    <ul>
                        <li {% if active == "zoo_foto" %}class="active"{% endif %}><a href="{{ path("zpb_admin_zoo_fototek_homepage") }}">Photothèque</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Textes</a></li>
                        <li><a href="#">Horaires</a></li>
                    </ul>
                </div>

                <div class="sidebar-menu bg-nature">
                    <h3>Beauval Nature<i class="fa fa-caret-down pull-right"></i></h3>
                    <ul>
                        <li><a href="#">Lorem ipsum.</a></li>
                        <li><a href="#">Et, quia.</a></li>
                        <li><a href="#">Delectus, quis.</a></li>
                        <li><a href="#">Officia, voluptatum.</a></li>
                    </ul>
                </div>
                <div class="sidebar-menu bg-parrainage">
                    <h3>Parrainage<i class="fa fa-caret-down pull-right"></i></h3>
                    <ul>
                        <li><a href="#">Lorem ipsum.</a></li>
                        <li><a href="#">Et, quia.</a></li>
                        <li><a href="#">Delectus, quis.</a></li>
                        <li><a href="#">Officia, voluptatum.</a></li>
                    </ul>
                </div>

                <div class="sidebar-menu bg-jardin">
                    <h3>Les Jardins dB.<i class="fa fa-caret-down pull-right"></i></h3>
                    <ul>
                        <li><a href="#">Lorem ipsum.</a></li>
                        <li><a href="#">Et, quia.</a></li>
                        <li><a href="#">Delectus, quis.</a></li>
                        <li><a href="#">Officia, voluptatum.</a></li>
                    </ul>
                </div>
                <div class="sidebar-menu bg-hameaux">
                    <h3>Les Hameaux dB.<i class="fa fa-caret-down pull-right"></i></h3>
                    <ul>
                        <li><a href="#">Lorem ipsum.</a></li>
                        <li><a href="#">Et, quia.</a></li>
                        <li><a href="#">Delectus, quis.</a></li>
                        <li><a href="#">Officia, voluptatum.</a></li>
                    </ul>
                </div>

                <div class="sidebar-menu bg-pagode">
                    <h3>Les Pagodes dB.<i class="fa fa-caret-down pull-right"></i></h3>
                    <ul>
                        <li><a href="#">Lorem ipsum.</a></li>
                        <li><a href="#">Et, quia.</a></li>
                        <li><a href="#">Delectus, quis.</a></li>
                        <li><a href="#">Officia, voluptatum.</a></li>
                    </ul>
                </div>
                <div class="sidebar-menu bg-seminaire">
                    <h3>Séminaires<i class="fa fa-caret-down pull-right"></i></h3>
                    <ul>
                        <li><a href="#">Lorem ipsum.</a></li>
                        <li><a href="#">Et, quia.</a></li>
                        <li><a href="#">Delectus, quis.</a></li>
                        <li><a href="#">Officia, voluptatum.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
