{% extends "ZPBAdminCommonBundle:Layouts:master.html.twig" %}
{% block title %}Utilisateurs{% endblock %}
{% set active_ms_menu = active_ms_menu|default("user") %}

{% block main %}

    <div id="main" class="bg-default">
        {% block sidebar%}{% endblock %}
        <div id="content">
            <div class="container-fluid">
                <div class="row">
                    {% for flash in app.session.flashbag.get("error") %}
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Attention ! </strong> {{ flash }}
                        </div>
                    {% endfor %}
                    {% for flash in app.session.flashbag.get("warning") %}
                        <div class="alert alert-warning fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Attention ! </strong> {{ flash }}
                        </div>
                    {% endfor %}
                    {% for flash in app.session.flashbag.get("success") %}
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Succès ! </strong> {{ flash }}
                        </div>
                    {% endfor %}
                    {% for flash in app.session.flashbag.get("info") %}
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Info ! </strong> {{ flash }}
                        </div>
                    {% endfor %}


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h1>{{subtitle|default("Admin")}} <small>ZooParc de Beauval</small></h1>
                        </div>
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>
            <footer>
                <div class="container-fluid">
                    <hr/>
                    <div class="row">
                        <div class="col-md-4"><p>@ ZooParc de Beauval</p></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </footer>
        </div>

    </div>

{% endblock %}
