<div id="secondary-sidebar">
    <div class="nano">
        <div class="nano-content">
            <div id="secondary-sidebar-content">
                <div class="controls-bar">
                    <button class="fa fa-bars" id="ssToggle"></button>
                </div>
                <div class="sidebar-menu">
                    <h3>Articles</h3>
                    <ul>
                        <li {% if active == "home" %}class="active"{% endif %}><a href="{{ path("zpb_admin_blog_homepage") }}">Liste <small>({{draft + pub}})</small></a></li>
                        <li {% if active == "new_art" %}class="active"{% endif %}><a href="{{ path("zpb_admin_blog_article_new") }}">Nouvel article</a></li>
                        <li {% if active == "archive" %}class="active"{% endif %}><a href="{{ path("zpb_admin_blog_article_archives")}}">Archives <small>({{arch}})</small></a></li>
                        <li {% if active == "trash" %}class="active"{% endif %}><a href="{{ path("zpb_admin_blog_article_trashes") }}">Corbeille <small>({{drop}})</small></a></li>
                    </ul>
                </div>
                <div class="sidebar-menu">
                    <h3>Catégories</h3>
                    <ul>
                        <li {% if active == "all_cats" %}class="active"{% endif %}><a href="{{ path("zpb_admin_blog_category_homepage") }}">Liste <small>({{numCat}})</small></a></li>
                        <li {% if active == "new_cat" %}class="active"{% endif %}><a href="{{ path("zpb_admin_blog_category_new") }}">Nouvelle catégorie</a></li>
                    </ul>
                </div>
                <div class="sidebar-menu">
                    <h3>Mots-clés</h3>
                    <ul>
                        <li {% if active == "all_tags" %}class="active"{% endif %}><a href="{{ path("zpb_admin_blog_tag_homepage") }}">Liste <small>({{numTag}})</small></a></li>
                        <li {% if active == "new_tag" %}class="active"{% endif %}><a href="{{ path("zpb_admin_blog_tag_new") }}">Nouveau mot-clé</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</div>
