{% extends "ZPBAdminBlogBundle:Layouts:master.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Article <small>Rédaction</small></h2>
            </div>
        </div>

    </div>

    {{ form_start(form, {"action":path("zpb_admin_blog_article_edit", {"id": id}),attr: {novalidate: 'novalidate'}}) }}

    <div class="row">
        <div class="col-md-6">

            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {"attr":{"class":"form-control"}}) }}
                {{ form_errors(form.title) }}
            </div>

            <div class="form-group">
                {{ form_label(form.slug) }}
                {{ form_widget(form.slug, {"attr":{"class":"form-control"}}) }}
                {{ form_errors(form.slug) }}
            </div>

            <div class="form-group">
                {{ form_label(form.body) }}
                {{ form_widget(form.body, {"attr":{"class":"form-control"}}) }}
                {{ form_errors(form.body) }}
            </div>

            <div class="form-group">
                {{ form_label(form.excerpt) }}
                {{ form_widget(form.excerpt, {"attr":{"class":"form-control"}}) }}
                {{ form_errors(form.excerpt) }}
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>Etat de l'article</label>
                </div>
                <div class="panel-body">
                    <h3 class="text-danger">{{ article.status }}</h3>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ form_label(form.category) }}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form_widget(form.category, {"attr":{"class":"form-control"}}) }}
                        {{ form_errors(form.category) }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ form_label(form.tags) }}
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        {{ form_widget(form.tags) }}
                        <div class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}"></div>
                        {{ form_errors(form.tags) }}
                    </div>
                </div>
            </div>
            {% if article.isDraft %}
                <div class="form-group">
                    {{ form_widget(form.saveDraft, {"attr":{"class":"btn btn-primary"}})  }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.savePublish, {"attr":{"class":"btn btn-primary"}})  }}
                </div>
            {% else %}
                <div class="form-group">
                    {{ form_widget(form.saveDraft, {"attr":{"class":"btn btn-primary disabled", "disabled":"disabled"}})  }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.savePublish, {"label":"Enregistrer","attr":{"class":"btn btn-primary"}})  }}
                </div>
            {% endif %}


            <div class="panel panel-default">
                <div class="panel-heading">
                    <label>Enregistrer "à la une"</label>
                </div>
                <div class="panel-body">
                    {# TODO set front #}
                </div>
            </div>
            <div class="form-group">
                {{ form_widget(form.saveFront, {"attr":{"class":"btn btn-primary"}})  }}
            </div>
        </div>

        <div class="col-md-2"></div>

    </div>
    {{ form_end(form) }}




    {{ form(form) }}
{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script src="/admin/js/vendor/tinymce/tinymce.min.js"></script>
    <script>
        var collectionHolder = $('div.tags');
        var protoHolder = $("#article_form_tags");
        var $addTagLink = $('<a href="#" class="add_tag_link btn btn-default">Ajouter un mot-clé</a>');
        var $newLinkLi = $('<div class="form-group"></div>').append($addTagLink);
        var catId = {% if article.category is not empty %}{{ article.category.id }}{% else %}null{% endif %};
        var catSelect = $("#article_form_category");
        function addTagForm(collectionHolder, $newLinkLi) {
            var prototype = protoHolder.attr('data-prototype');
            var newForm = prototype.replace(/<label class=\"required\">__name__label__<\/label>/g, "");
            newForm = newForm.replace(/__name__/g, (collectionHolder.children().length + protoHolder.children().length));
            var nf = $(newForm);
            var label = nf.find("label");
            var ipt = nf.find("input");
            var parent = label.parent();
            parent.addClass("form-group");
            ipt.addClass("form-control");
            collectionHolder.append(nf);
        }


        $(function(){
            if(catId){
                catSelect.children().each(function(i,e){
                    var opt = $(e);
                    if(opt.val() == catId){
                        opt.attr("selected", "selected");
                    }
                });
            }


            tinymce.init({
                selector: "textarea#article_form_body",
                menubar: "tools table format view insert edit",
                statusbar : false,
                resize: false,
                language : 'fr_FR',
                plugins: 'image preview fullscreen link code table',
                toolbar: false,
                height: 350
            });
            tinymce.init({
                selector: "textarea#article_form_excerpt",
                menubar: "tools table format view insert edit",
                statusbar : false,
                resize: false,
                language : 'fr_FR',
                plugins: 'image preview fullscreen link code table',
                toolbar: false,
                height: 150
            });
            if(protoHolder.children().length){
                protoHolder.children().each(function(idx,el){
                    var fLabel = $(el).find("label:first");
                    fLabel.remove();
                    var sLabel = $(el).find("label");
                    var parent = sLabel.parent();
                    parent.addClass("form-group");
                    var ipt = parent.find("input");
                    ipt.addClass("form-control");
                });
            }
            collectionHolder.after($newLinkLi);
            $addTagLink.on('click', function(e) {
                e.preventDefault();
                addTagForm(collectionHolder, $newLinkLi);
            });


        });
    </script>

{% endblock %}
