{% extends "ZPBAdminBlogBundle:Layouts:master.html.twig" %}


{% set active_ss_menu = "new_art" %}

{% block content %}
    {% if categories|length < 1 %}
        <div class="row">
            <div class="alert alert-danger">
                <strong>Attention ! </strong> Il n'y a pas de catégories enregistrées pour les articles. Vous devez en créer au moins une pour pouvoir commencer vos rédactions.
                <a href="{{ path("zpb_admin_blog_category_new") }}"><i class="fa fa-hand-o-right"></i> Ajouter une catégorie.</a>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Article <small>Rédaction</small></h2>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_row(form.title) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.slug) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.body) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.excerpt) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.category) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.tags) }}
                    {{ form_widget(form.tags) }}
                    <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
                    </ul>
                    {{ form_errors(form.tags) }}
                </div>

                {{ form_rest(form) }}

                <div class="form-group">
                    {{ form_widget(form.save, {"attr":{"class":"btn btn-primary"}})  }}
                </div>



            </div>
        </div>


    {% endif %}
{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script>
        var collectionHolder = $('ul.tags');
        var protoHolder = $("#article_form_tags");
        var $addTagLink = $('<a href="#" class="add_tag_link">Ajouter un tag</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);
        function addTagForm(collectionHolder, $newLinkLi) {
            // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
            var prototype = protoHolder.attr('data-prototype');

            // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
            // la longueur de la collection courante
            var newForm = prototype.replace(/<label class=\"required\">__name__label__<\/label>/g, "");
            newForm = newForm.replace(/__name__/g, collectionHolder.children().length);

            // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
        $(function(){


            collectionHolder.append($newLinkLi);

            $addTagLink.on('click', function(e) {
                // empêche le lien de créer un « # » dans l'URL
                e.preventDefault();

                // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
                addTagForm(collectionHolder, $newLinkLi);
            });


        });
    </script>

{% endblock %}
