{% extends "ZPBAdminBlogBundle:Layouts:master.html.twig" %}

{% set active_ss_menu = "trash" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Articles <small>corbeille ({{numDropped}})</small></h2>
            </div>
        </div>
    </div>
{% if maxPage>1 %}
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="pagination">
                {% if currentPage == 1 %}
                    <li class="disabled"><a href="#">&laquo;</a></li>
                {% else %}
                    <li><a href="{{ path("zpb_admin_blog_article_trashes", {page:1}) }}">&laquo;</a></li>
                {% endif %}
                {% for p in 1..maxPage %}
                    {% if p==currentPage %}
                        <li class="disabled"><a href="#">{{ p }}</a></li>
                    {% else %}
                        <li><a href="{{ path("zpb_admin_blog_article_trashes", {page:p}) }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if currentPage == maxPage %}
                    <li class="disabled"><a href="#">&raquo;</a></li>
                {% else %}
                    <li><a href="{{ path("zpb_admin_blog_article_trashes", {page:maxPage}) }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Republier</th>
                        <th>Effacer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if trashes|length <1 %}
                        <tr class="info">
                            <td colspan="4">Il n'y a pas d'articles mis à la corbeille.</td>
                        </tr>
                    {% else %}
                        {% for trash in trashes %}
                            <tr>
                                <td>{{ trash.longId }}</td>
                                <td>{{ trash.title }}</td>
                                <td><a class="btn btn-default" href="{{ path("zpb_admin_blog_article_set_undropped", {id: trash.id, _token: csrf_token("article_undrop")})}}"><i class="fa fa-share"></i></a></td>
                                <td><a class="btn btn-default delete-alert" href="{{ path("zpb_admin_blog_article_delete", {id: trash.id, _token: csrf_token("article_delete")}) }}" data-name="{{trash.longId}}"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script>
        $(function(){
            $(".delete-alert").on("click", function(e){
                e.preventDefault();
                var name = $(this).data("name");
                if(window.confirm("Attention, cette action est irréversible, êtes-vous certain de vouloir continuer et effacer '" + name + "' ?")){
                    window.location.href = $(this).attr("href");
                }
            });
        });
    </script>

{% endblock %}
