{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% set active_section = "parrainage" %}
{% block main %}




    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Parrainez un animal</h1>
            </div>
        </div>
        <div class="row">
            {% if animals|length > 0 %}
                {% for animal in animals %}
                    <div class="col-md-3">
                        <div class="thumbnail">
                            {#<img data-src="holder.js/300x200" alt=""/>#}
                            <img src="http://lorempicsum.com/simpsons/300/200/{{ random(5)+1 }}" alt="" width="100%"/>
                            <div class="caption">
                                <h4 class="text-center">{{ animal.longName }}</h4>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-code-fork fa-rotate-90"></i> {{ animal.species.getClass }}</li>
                                    <li><i class="fa fa-map-marker"></i> {{ animal.species.getGeoDistribution }}</li>
                                </ul>
                                {{ animal.shortDesc|raw }}
                                <p class="text-center"><a class="btn btn-success" href="{{ path("zpb_sites_zoo_parrainage_show_animal", {name: animal.canonicalLongName}) }}">Plus d'infos</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}

            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footScripts %}
    {{ parent() }}
    <script src="/zoo/js/vendor/dev/holder.js"></script>
{% endblock %}
