{% extends "ZPBAdminBlogBundle:Layouts:master.html.twig" %}
{% set active_ss_menu = "new_tag" %}
{% block content %}
    <div class="col-md-6">
        <h1>new tag</h1>
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        {{ form_errors(form) }}
        <div class="form-group {% if form.name.vars.errors|length>0 %}has-error{% endif %}">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {"attr":{"class":"form-control"}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="form-group  {% if form.slug.vars.errors|length>0 %}has-error{% endif %}">
            {{ form_label(form.slug) }}
            {{ form_widget(form.slug, {"required":false, "attr":{"class":"form-control"}}) }}
            {{ form_errors(form.slug) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.save, {"attr":{"class":"btn btn-primary"}}) }}
        </div>
        {{ form_end(form) }}
    </div>
    <div class="col-md-6"></div>
{% endblock %}
